<div id="{{field.id}}" class="linotype-field {{field.class}}" data-id="{{field.uid}}" data-key="{{field.key}}" data-type="Editor" data-controller="Editor">
    <div class="title">{{title}}</div>
    <div class="field editor-content">
        <div data-Editor-target="editor"></div>
        <textarea data-Editor-target="value" name="{{field.form.name}}" class="linotype-field-value" style="display:none">{{field.form.value}}</textarea>
    </div>
    <div class="desc"><i>{{info}}</i></div>
</div>