<div id="{{field.id}}" class="linotype-field {{field.class}}" data-type="Text" data-key="{{field.key}}" data-id="{{field.uid}}">
    <div class="title">{{title}}</div>
    <div class="field">
        <input class="linotype-field-value" name="{{field.form.name}}" placeholder="{{option.placeholder}}" value="{{field.form.value}}">
    </div>
    <div class="desc"><i>{{info}}</i></div>
</div>
{# {{dump()}} #}