<div id="{{field.id}}" class="linotype-field {{field.class}}" data-id="{{field.uid}}" data-key="{{field.key}}" data-type="Color" data-controller="Color">
    <div class="title">{{title}}</div>
    <div class="field">
        <div class="color-picker--{{field.id}}"></div>
        <input id="color-picker-value--{{field.id}}" name="{{field.form.name}}" class="linotype-field-value" style-off="display:none" value="{{field.form.value}}">
    </div>
    <div class="desc">{{desc}}</div>
</div>